
.modalityContainer {
  max-height: 1000px; 
  overflow-y: auto;
  border: 1px solid rgb(0, 0, 0);
  padding: 20px;
  margin-right: auto; 
  margin-left: auto; 
  max-width: 1200px; 
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.modalityTitulo {
  position: sticky;
  padding: 0;
  font-size: 3rem;
  text-align: center;
  z-index: 10;
  padding-top: 50px;
}

.modalityList {
  list-style-type: none;
  font-size: 1.2rem;
  padding: 0;
  padding-left: 0px;
  margin: 20px 0;
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
}

.modalityText {
  flex: 1; 
  margin-right: 20px; 
  padding: 0px;
}


.modalityItem {
  padding: 10px;
  border-bottom: 1px solid #000000;/* cor da box da lista */
}

.fixedBottom {
  position: sticky;
  bottom: 0;
  background-color:rgb(212, 212, 212);
  padding: 10px;
  z-index: 10;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* cor da linha do bottom */
}

.inputBoxModality {
  height: 48px;
  width: 100%; 
  padding-left: 500px;
  margin-bottom: 10px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
}

.separadorModality {
  display: flex;
  justify-content: space-between;
  padding: 0 20px; 
  padding-right: 500px;
  
}