
.modalityContainer {
  margin-top: 100px;
  max-height: 100000px; 
  overflow-y: auto;
  border: 3px solid rgb(0, 0, 0);
  padding: 20px;
  margin-right: auto; 
  margin-left: auto; 
  max-width: 1200px; 
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 10px;
}

.modalityTitulo {
  position: sticky;
  padding: 0;
  font-size: 3rem;
  text-align: center;
  z-index: 10;
  padding-top: 50px;
}

.modalityList {
  list-style-type: none;
  font-size: 1.2rem;
  padding: 0;
  padding-left: 0px;
  margin: 20px 0;
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
}

.modalityText {
  flex: 1; 
  margin-right: 20px; 
  padding: 10px 20px; 
  padding-right: 20px;
}


.modalityItem {
  padding: 10px;
  border-bottom: 1px solid #000000;/* cor da box da lista */
}

.fixedBottom {
  position: sticky;
  bottom: 0;
  background-color:rgb(212, 212, 212);
  padding: 10px;
  z-index: 10;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* cor da linha do bottom */
}

.inputBoxModality {
  height: 48px;
  width: 100%; 
  padding-left: 500px;
  margin-bottom: 10px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid rgb(3, 3, 3);
  box-sizing: border-box;
}

.separadorModality {
  display: flex;
  justify-content: space-between;
  padding: 0 20px; 
<<<<<<< Updated upstream
  padding-right: 400px;
=======
  padding-right: 20px;
>>>>>>> Stashed changes
  
}

.modalityCardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.modalityCard {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  background-color: #fff;
  box-sizing: border-box; /* Ensure padding is included in width */
}

.modalityCard:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.modalityCardHeader {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.modalityCardBody {
  font-size: 14px;
  margin-bottom: 20px;
}


.modalityCardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -50px;
}

/* Icon specific styles */
.modalityCardFooter .icon {
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
}

/* Button styling */
