.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
}

.navbar-email {
  color: white;
  font-size: 16px;
  padding-right: 20px; 
}

input[type='button'] {
  border: none;
  background: rgb(0, 0, 0);
  color: white;
  padding: 10px 20px;
  margin: 8px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
}

input[type="button"]:hover{
  background-color: lightblue;
  color: black;
  cursor: pointer;
}

.avatar {
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  margin-right: 10px; 
}
