.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 60px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}
.mensageEditMembers{ 
  padding-top: 20px;
  margin-left: -100px;
 
  

 
}
.titleContainerHome {
  display: flex;
  flex-direction: column;
  font-size: 64px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.resultContainer,
.historyItem {
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey; /* cor das bordas do inputs */
  padding-left: 8px;
  margin: 8px;
  

}

.membrosContainer {
  max-height: 400px; 
  overflow-y: auto;
  border: 1px solid #ccc; 
  padding: 20px;
  margin-top: 100px;
  position: relative;
}

.membrosTitulo {
  position: sticky;
  top: 0;
  background-color: rgb(225, 225, 225); /* cor de fundo do header */
  padding: 20px;
  padding-left: 50px;
  margin: 0;
  z-index: 10;
}

.membrosList {
  
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.memberItem {
  padding: 10px;
  border-bottom: 1px solid #ddd; 
}

.separador{
  display: flex;
  justify-content:space-between;
}

.modalityContainer {
  max-height: 1000px; 
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 20px;
  margin-right: auto; 
  margin-left: auto; 
  max-width: 1200px; 
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.modalityTitulo {
  position: sticky;
  padding: 0;
  font-size: 3rem;
  text-align: center;
  z-index: 10;
  padding-top: 50px;
}

.modalityList {
  list-style-type: none;
  font-size: 1.2rem;
  padding: 0;
  padding-left: 400px;
  margin: 20px 0;
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
}

.modalityItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;/* cor da box da lista */
}

.fixedBottom {
  position: sticky;
  bottom: 0;
  background-color: white;
  padding: 10px;
  z-index: 10;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* cor da linha do bottom */
}

.inputBoxModality {
  height: 48px;
  width: 100%; 
  padding-left: 500px;
  margin-bottom: 10px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  box-sizing: border-box;
}

.separadorModality {
  display: flex;
  justify-content: space-between;
  padding: 0 20px; 
  padding-right: 500px;
  
}

.userContainer {
  max-height: 1000px; 
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 20px;
  margin-right: auto; 
  margin-left: auto; 
  max-width: 1200px; 
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.userTitulo {
  position: sticky;
  padding: 0;
  font-size: 3rem;
  text-align: center;
  z-index: 10;
  padding-top: 50px;
}

.userList {
  list-style-type: none;
  font-size: 1.2rem;
  padding: 0;
  margin: 20px 0;
  padding-left: 380px ;
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
}

.userItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.fixedBottom {
  position: sticky;
  bottom: 0;
  background-color: white;
  padding: 10px;
  z-index: 10;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.inputBoxUser {
  height: 48px;
  width: 100%;
  margin-bottom: 10px; 
  padding-left: 500px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  box-sizing: border-box;
}

.separadorUser1{
  display: flex;
  justify-content: space-between;
  padding: 0 10px; 
  margin-right: 820px;
}

.separadorUser2 {
  display: flex;
  justify-content: space-between;
  padding: 0 10px; 
}
