html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Courier New,
    monospace;
}

input[type='button'] {
  border: none;
  background: cornflowerblue;
  color: white;
  padding: 12px 24px;
  margin: 8px;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
}
button[type='submit'] {
  border: none;
  background: cornflowerblue;
  color: white;
  padding: 12px 24px;
  margin: 8px 8px 8px 50px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  display:flex;
}
button[type='button'] {
  border: none;
  background: cornflowerblue;
  color: white;
  padding: 12px 24px;
  margin: 8px 8px 8px 50px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  display:flex;
}


button[type='submitHome'] {
  border: none;
  background: cornflowerblue;
  color: white;
  padding: 12px 24px;
  margin: 8px 8px 8px 50px;
  font-size: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
}
button[type='submitLogin'] {
  border: none;
  background: cornflowerblue;
  color: white;
  padding: 10px 20px;
  margin: 5px 5px 5px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
}
button[type='submitRegister'] {
  border: none;
  background: cornflowerblue;
  color: white;
  padding: 12px 24px;
  margin: 8px 8px 8px 35px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
}
button[type='submitModality'] {
  border: none;
  background: cornflowerblue;
  color: white;
  padding: 12px 24px;
  margin: 8px 8px 8px 0px;
  margin-left: 100px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  display:flex;
}

button:hover {
  background-color: lightblue;
  color: black;
  cursor: pointer;
}
input[type="button"]:hover{
  background-color: lightblue;
  color: black;
  cursor: pointer;
}
